<template>
  <main-layout>
    <h1>Welcome!</h1>
  </main-layout>
</template>

<script>
  import MainLayout from '../layouts/Main.vue';

  export default {
    name: 'HomePage',
    components: {
      MainLayout
    }
  };
</script>
